.cardProducto {
    width: 19rem;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: hsl(0, 0%, 97%);
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

.cardBodyDark {
    background-color: hsl(0, 4%, 95%);
    margin-bottom: 3px;
    text-align: center;
}
img {
    margin-top:5px;
}
.cardProductos {
    margin: 4px;
    align-items: center;
    justify-content: center;
}

.cartWidget {
    color: black;
    border-radius: 50rem;
    margin-right: 2rem;
}

.nav-item {
    margin: 10px;
}

.cantCarrito{
    position: relative;
    left: 13%;
}

.nav-item {
    margin: 10px;
}

.nav-item a {
    color:rgba(0, 0, 0, 0.616);
}

.itemDetail {
    max-width: 40%;
    margin-top: 20px;
}

.imgBody {
    display:block;
    margin:auto;
    max-height: 100%;
}

.darkMode {
    background-color:rgba(0, 0, 0, 0.616);
    color:rgb(179, 182, 189);
}

.cartContainer {
    margin-top:8%;
    margin-left: 26.5%;
}

.divButtons button{
    margin:4px;
}

@media (max-width:991px) {
    .cartWidget {
        color:white;
        margin-bottom: 10px;
    }
}